

body {
    background-color: grey;
        border: solid 1px red;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20%;
    background-color: white;
    position: relative;
}

#game {
    width:80%;
    margin: 0 auto;
    position: relative;
        border: solid 1px green;
}

#gameTitle {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 20px 0;
    color: white;
}

#txtName {
    position: absolute;
    top: 210px;
    right: 80px;
    z-index: 101;
    width: 150px;
    height: 20px;
}