body {
    background-color: grey;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20%;
    background-color: white;
    position: relative;
}

.game {
    width:80%;
    margin: 0 auto;
}

#gameTitle {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 20px 0;
    color: white;
}

#txtName {
    position: absolute;
    top:280px;
    left: 530px;
    z-index: 101;
}